html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11.5px;
  line-height: 18px;
  color: #F2F2F2;
}

a {
  color: #005580;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333333;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

body, div {
	margin:0;
	padding:0;}

#outer 	{
	margin:0 auto;
	background:#00A4E4 url(images/bg-header.png) 0 bottom repeat-x;
}
#header {	
	width:1000px;
	height:60px;
	margin: 0 auto;
}
#logo {
	width:300px;
	padding-top:15px;
	float:left;}	

#header #link {	
	width:650px;
	float:right;
	padding-top:5px;
	text-align:left;
}
ul, li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
}
#link ul {
	float:right;
	text-align:right;
	padding: .3em 0;
}

li {
	line-height:18px;
	padding:0 1em;
	background-color:#00ADF1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
li:last-child {
	border-right:none;}	

	
