<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
>
	<bean id="reportManager" class="com.balicamp.service.report.impl.ReportManagerImpl">
		<property name="dataSource" ref="oraDataSource" />
		<property name="taskExecutorWrapper" ref="taskExecutorWrapper" />
		<property name="systemParameterManager" ref="systemParameterManager" />
		<property name="reportMap">
			<map>
				<entry key="reportUserActivity" value-ref="reportUserActivity" />
			</map>
		</property>
	</bean>

	<bean id="reportBase" class="com.balicamp.service.report.impl.ReportBase" abstract="true" >
		<property name="systemParameterManager" ref="systemParameterManager" />
	</bean>
	
	<bean id="reportUserActivity" class="com.balicamp.service.report.impl.ReportUserActivity" parent="reportBase" />
	
</beans>
