<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration xmlns="http://logging.apache.org/" debug="false">
	
	<!-- ROOT appender -->
	<appender name="APPENDER-DEBUG-ROOT" class="org.apache.log4j.rolling.RollingFileAppender" >
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/mx-webadmin/all/%d.root_debug.zip" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%-20c{1}][%t] %m%n" />
		</layout>
	</appender>

	<appender name="APPENDER-ERROR-ROOT" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/mx-webadmin/all/%d.root_error.zip" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %.1p [%-20c{1}][%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>

	<!-- SERVICE appender 
	<appender name="APPENDER-DEBUG-SERVICE" class="org.apache.log4j.rolling.RollingFileAppender" >
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/mx-webadmin/all/%d.service_debug.zip" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %.1p [%-20c{1}][%t] %m%n" />
		</layout>
	</appender>

	<appender name="APPENDER-ERROR-SERVICE" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/mx-webadmin/all/%d.service_error.zip" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %.1p [%-20c{1}][%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	-->
	<!-- WEB appender 
	<appender name="APPENDER-DEBUG-WEB" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/mx-webadmin/all/%d.web_debug.zip" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %.1p [%-20c{1}][%t] %m%n" />
		</layout>
	</appender>

	<appender name="APPENDER-ERROR-WEB" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/mx-webadmin/all/%d.web_error.zip" />
		</rollingPolicy>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %.1p [%-20c{1}][%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	-->
	<!-- ISO appender 
	<appender name="APPENDER-ISO" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/mx-webadmin/all/%d.iso.zip" />
		</rollingPolicy>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %.1p [%-20c{1}][%t] %m%n" />
		</layout>
	</appender>
	-->
	<!-- SECURITY appender
	<appender name="APPENDER-SECURITY" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/mx-webadmin/all/%d.security.zip" />
		</rollingPolicy>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %.1p [%-20c{1}][%t] %m%n" />
		</layout>
	</appender>
	 -->
	<!-- category 	
	<logger name="ISO_LOG" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="APPENDER-ISO" />
	</logger>
	-->


	<logger name="org.apache.activemq" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="APPENDER-ERROR-SERVICE" />
	</logger>

<!--
        <logger name="org.springframework.web.filter" additivity="false">
                <priority value="TRACE" />
                <appender-ref ref="APPENDER-ISO" />
        </logger>
        
	<logger name="SECURITY_LOG" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="APPENDER-SECURITY" />
	</logger>
	
	<logger name="com.balicamp.service" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="APPENDER-DEBUG-SERVICE" />
		<appender-ref ref="APPENDER-ERROR-SERVICE" />
	</logger>

	<logger name="com.balicamp.dao" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="APPENDER-DEBUG-SERVICE" />
		<appender-ref ref="APPENDER-ERROR-SERVICE" />
	</logger>

	<logger name="com.balicamp.webapp" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="APPENDER-DEBUG-WEB" />
		<appender-ref ref="APPENDER-ERROR-WEB" />
	</logger>
-->

	<root>
		<priority value="TRACE" />
		<appender-ref ref="APPENDER-DEBUG-ROOT" />
		<appender-ref ref="APPENDER-ERROR-ROOT" />
	</root>
</configuration>

<!--
	
	Log4J Configuration Quick Reference:
	====================================
	
	
	Priority order is DEBUG < INFO < WARN < ERROR < FATAL
	
	
	PatternLayout conversion characters:
	
	%c   Category of the logging event
	%C   Fully qualified class name of the caller
	%d   Date of the logging event  (example: %d{HH:mm:ss,SSS} )
	%F   File name where the logging request was issued (caution: extremely slow)
	%l   Location information of the caller (caution: extremely slow)
	%L   Line number from where the logging request was issued (caution: extremely slow)
	%m   Application-supplied message
	%M   Method name from where the logging request was issued (caution: extremely slow)
	%n   Line separator
	%p   Priority of the logging event
	%r   Number of milliseconds since the start of the application
	%t   Name of the thread that generated the logging event
	%x   Nested diagnotic context associated with the thread
	%%   A single percent sign
	
	Format modifiers examples:
	
	%20c     Left pad with spaces if category is less than 20 characters long
	%-20c    Right pad with spaces if category is less than 20 characters long
	%.30c    Truncate from the beginning if category is more than 30 chars long
	%20.30c  Left pad 20 chars + truncate from beginning if more than 30 chars
	%-20.30c Right pad 20 chars + truncate from beginning if more than 30 chars
	
	Examples:  "%r [%t] %-5p %c %x - %m\n"
	"%-6r [%15.15t] %-5p %30.30c %x - %m\n"  
	                         
-->
