<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:channel.properties</value>
		</property>
	</bean>
	
    <bean id="reorChannel" class="com.balicamp.soap.ws.channel.ReorChannel">
        <property name="address" value="${reor_url}"/>
    </bean>
    
    <bean id="iarChannel" class="com.balicamp.soap.ws.channel.IarChannel">
        <property name="address" value="${iar_url}"/>
    </bean>
    
    <bean id="ikrapChannel" class="com.balicamp.soap.ws.channel.IkrapChannel">
        <property name="address" value="${ikrap_url}"/>
    </bean>
    
    <bean id="klbsiChannel" class="com.balicamp.soap.ws.channel.KlbsiChannel">
        <property name="address" value="${klbsi_url}"/>
    </bean>
    
    <bean id="pengujianChannel" class="com.balicamp.soap.ws.channel.PengujianChannel">
        <property name="address" value="${pengujian_url}"/>
    </bean>
    
     <bean id="unarChannel" class="com.balicamp.soap.ws.channel.UnarChannel">
        <property name="address" value="${unar_url}"/>
    </bean>

</beans>
	 
